#image: gitlab/dind

variables:
  # REGISTRY: registry.example.com
  # REGISTRY_NAME: mumie
  # LATEST_VER: mumie/app:latest
  # MAJOR_VER: mumie/app:2
  DOCKER_REGISTRY: "docker.io"

stages:
  - build
  - test
  - push

# before_script:
  # - echo "starting new job in $REGPATH"
  # - docker info
  #- docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY


include: '/.gitlab-ci.docker.yml'


# jobs
build:rclone-mount:
  extends: .docker_build_template
  variables:
    REPO: rclone-mount

build:smb-mount:
  extends: .docker_build_template
  variables:
    REPO: smb-mount

build:sabnzbdvpn:
  extends: .docker_build_template
  variables:
    REPO: sabnzbdvpn

build:jdownloader:
  extends: .docker_build_template
  variables:
    REPO: jdownloader


#docker_build2:
#  stage: build
#  script:
#  - docker info
#  - docker build -t $LATEST_VER -t $MAJOR_VER .


docker_test1:
  stage: test
  image: docker:latest
  services:
  - docker:dind
  script:
  - echo "finished"
  # do some test
  #- docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  only:
    refs:
      - master
      - dev


# docker_push1:
#   stage: push
#   image: docker:latest
#   services:
#   - docker:dind
#   script:
#   - echo "manual job done"
#   # push image to registry
#   #- docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
#   only:
#     refs:
#       - master
#       - dev
#   when: manual

push:rclone-mount-latest:
  extends: .docker_push_template_latest
  variables:
    REPO: rclone-mount
  needs:
    - build:rclone-mount
push:rclone-mount-dev:
  extends: .docker_push_template_dev
  variables:
    REPO: rclone-mount
  needs:
    - build:rclone-mount

push:sabnzbdvpn-latest:
  extends: .docker_push_template_latest
  variables:
    REPO: sabnzbdvpn
  needs:
    - build:sabnzbdvpn
push:sabnzbdvpn-dev:
  extends: .docker_push_template_dev
  variables:
    REPO: sabnzbdvpn
  needs:
    - build:sabnzbdvpn
